<h1>Produções</h1>
<h2>Cadastrar Produção</h2>

<form #cadastro="ngForm" (submit)="adicionar(cadastro.value)">
    <div>
        <label for="titulo">titulo</label><br>
        <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required>
    </div>
    <div>
        <input id="filme" type="radio" value="filme" name="categoria" formControlName="categoria" [(ngModel)]="categoria">
        <label for="filme">FILME</label>
    </div>
    <div>
        <input id="serie" type="radio" value="serie" name="categoria" formControlName="categoria">
        <label for="serie">SERIE</label>
    </div>
    <div>
        <label for="ano">ano</label><br>
        <input type="text" id="ano" name="ano" [(ngModel)]="ano" required>
    </div>
    <div>
        <label for="genero">genero</label><br>
        <input type="text" id="genero" name="genero" [(ngModel)]="genero" required>
    </div>
    <div>
        <label for="duracao">duracao</label><br>
        <input type="text" id="duracao" name="duracao" [(ngModel)]="duracao" required>
    </div>
    <div>
        <label for="temporadas">temporadas</label><br>
        <input type="text" id="temporadas" name="temporadas" [(ngModel)]="temporadas" required>
    </div>
    <div>
        <label for="descricao">descricao</label><br>
        <textarea  type="text" id="descricao" name="descricao"  [(ngModel)]="descricao"
                  cols="70" rows="5">
        </textarea>
    </div>
        
    <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid">
        Salvar
    </button>
</form>

<h2>PRODUCOES - SERIES</h2>
    <ul id="pendentes">
      <li *ngFor="let item of listaProducoes;">
         {{ item.titulo }} Titulo:
         {{ item. ano }} Ano: 
         {{ item. genero }} Genêro: 
         {{ item. duracao }} Duracao:
         {{ item. temporadas }} temporadas: 
         {{ item.descricao }}  Descrição: 
         {{ item.categoria }} 
        <button type="button" class="btn btn-primary"(click)="editar(item)">
          Editar 
        </button > 
        <button type="button" class="btn btn-primary" (click)="excluir(item)">
          Excluir
        </button>
      </li>
    </ul>

