

<h2>Cadastrar Produção</h2>

<form class="form-group" #cadastro="ngForm" (submit)="adicionar()">
    <div>
        <label for="titulo">Título</label><br>
        <input class="form-control" type="text" id="titulo" name="titulo" [(ngModel)]="titulo" >
    </div>
    <br> 
    <div>
        <label for="ano">Ano</label><br>
        <input class="form-control" type="text" id="ano" name="ano" [(ngModel)]="ano" >
    </div>
   <div class="form-group form-check">  
   <br> 
    <label>  
        <input class="form-check-input"  type="radio" name="gender" value="Filme" [(ngModel)]="gender" required>  
        Filme 
    </label>  
    </div>  
    <div class="form-group form-check">  
        <label>  
        <input class="form-check-input"  type="radio" name="gender" value="Serie" [(ngModel)]="gender" required>  
            Série 
        </label>  
    </div> 
    <div>
        <label for="temporadas">Temporadas</label><br>
        <input class="form-control" type="number" id="temporadas" name="temporadas" [(ngModel)]="temporadas">
   </div>  
   <br> 
   <div>
        <label for="genero">Gênero</label><br>
        <input class="form-control" type="text" id="genero" name="genero" [(ngModel)]="genero" >
    </div> 
    <br> 
    <div>
        <label for="duracao">Duracao</label><br>
        <input class="form-control" type="text" id="duracao" name="duracao" [(ngModel)]="duracao" >
    </div>
    <br> 
    <div>
        <label for="descricao">Descrição</label><br>
        <textarea class="form-control" type="text" id="descricao" name="descricao"  [(ngModel)]="descricao" cols="70" rows="5" >
        </textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid">
        Salvar
    </button>
    <button type="button" class="btn btn-secondary" (click)="cancelar(item)">
        Cancelar
    </button>
</form>

<div class="row">
<div class="col-sm-6">
    <div class="card">
            <div class="card-header">
                Filmes
            </div>
            <div *ngFor="let item of listaProducoesFilmes;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.titulo }} </h5>
                    <small><strong>  {{ item.ano }} - {{ item.genero }} - {{ item.duracao }} </strong> </small>
                    <p class="card-text">
                        {{ item.descricao }}
                    <p>
                    <button type="button" class="btn btn-primary"(click)="editar(item)">
                        Editar 
                    </button > 
                    <button type="button" class="btn btn-primary" (click)="excluirFilmes(item)">
                        Excluir
                    </button>
                </div>
                <div class="card-footer text-muted">
    
                   <fieldset class="rating">
                    <input type="radio" id="star5" class="filme" name="star5" value="Alto" [(ngModel)]="fbFilmes"/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4" class="filme" name="star4" value="Alto" [(ngModel)]="fbFilmes"/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3" class="filme" name="star3" value="Alto" [(ngModel)]="fbFilmes"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2" class="filme" name="star2" value="Baixo" [(ngModel)]="fbFilmes"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1" class="filme" name="star1" value="Baixo" [(ngModel)]="fbFilmes"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                   </fieldset>

                </div>
            </div>
    </div>
    
</div>


<div class="col-sm-6">
    <div class="card">
            <div class="card-header">
                Séries
            </div>
            <div *ngFor="let item of listaProducoes;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.titulo }} </h5>
                    <small><strong>  {{ item.ano }} - {{ item.genero }} - {{ item.duracao }} - {{ item.temporadas }} temporadas</strong> </small>
                    <p class="card-text">
                        {{ item.descricao }}
                    <p>
                    <button type="button" class="btn btn-primary"(click)="editar(item)">
                        Editar 
                    </button > 
                    <button type="button" class="btn btn-primary" (click)="excluirSeries(item)">
                        Excluir
                    </button>
                </div>
            <div class="card-footer text-muted">
                <fieldset class="rating">
                    <input type="radio" id="star5" class="serie" name="star5" value="Alto" [(ngModel)]="fbSeries"/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4" class="serie" name="star4" value="Alto" [(ngModel)]="fbSeries"/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3" class="serie" name="star3" value="Alto" [(ngModel)]="fbSeries"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2" class="serie" name="star2" value="Baixo" [(ngModel)]="fbSeries"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1" class="serie" name="star1" value="Baixo" [(ngModel)]="fbSeries"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                </fieldset>       
	        </div>
        </div>
    </div>
</div>