<h1>Produções</h1>
<h2>Cadastrar Produção</h2>

<form #cadastro="ngForm" (submit)="adicionar()">
    <div>
        <label for="titulo">titulo</label><br>
        <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required>
    </div>
    <div>
        <label for="ano">ano</label><br>
        <input type="text" id="ano" name="ano" [(ngModel)]="ano" required>
    </div>
   <div class="radio">  
            <label>  
                <input type="radio" name="gender" value="Filme" [(ngModel)]="gender" [checked]='true'>  
                Filme 
            </label>  
        </div>  
        <div class="radio">  
            <label>  
                <input type="radio" name="gender" value="Serie" [(ngModel)]="gender">  
                Serie 
            </label>  
        </div>  
    <div>
        <label for="duracao">duracao</label><br>
        <input type="text" id="duracao" name="duracao" [(ngModel)]="duracao" required>
    </div>
    <div>
        <label for="temporadas">temporadas</label><br>
        <input type="number" id="temporadas" name="temporadas" [(ngModel)]="temporadas" required>
    </div>
    <div>
        <label for="descricao">descricao</label><br>
        <textarea  type="text" id="descricao" name="descricao"  [(ngModel)]="descricao"
                  cols="70" rows="5">
        </textarea>
    </div>
        
    <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid">
        Salvar
    </button>
</form>

<h2>PRODUCOES - SERIES</h2>
    <ul id="pendentes">
      <li *ngFor="let item of listaProducoes;">
         {{ item.titulo }} Titulo:
         {{ item. ano }} Ano: 
         {{ item. genero }} Genêro: 
         {{ item. duracao }} Duracao:
         {{ item. temporadas }} temporadas: 
         {{ item.descricao }}  Descrição: 
         {{ item.checkbox }} 
        <button type="button" class="btn btn-primary"(click)="editar(item)">
          Editar 
        </button > 
        <button type="button" class="btn btn-primary" (click)="excluir(item)">
          Excluir
        </button>
      </li>
    </ul>

<h2>PRODUCOES FILMES</h2>
    <ul id="pendentes">
      <li *ngFor="let item of listaProducoesFilmes;">
         {{ item.titulo }} Titulo:
         {{ item. ano }} Ano: 
         {{ item. genero }} Genêro: 
         {{ item. duracao }} Duracao:
         {{ item. temporadas }} temporadas: 
         {{ item.descricao }}  Descrição: 
        <button type="button" class="btn btn-primary"(click)="editar(item)">
          Editar 
        </button > 
        <button type="button" class="btn btn-primary" (click)="excluir(item)">
          Excluir
        </button>
      </li>
    </ul>

